{% extends "base.html" %}

{% block app_content %}
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }
        
        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }
        
        tr:nth-child(even) {
        background-color: #dddddd;
        }
    </style>
    <h1>Logs</h1> <br>
    <p>
        Update log (note, green is easily implementable, blue will take more time, and red is for critical fixes):
    </p> <br>
    <p>The followings features have been included in Alpha v6</p>
    <ul>
        <li>Login interface fixed</li>
        <li>Error handling internally</li>
        <li>Bot set up to receive errors</li>
        <li>Ratings are displayed</li>
        <li>Users can now upload images (buggy)</li>
        <li>Admin privileges</li>
        <li>Bot testing suite</li>
        <li>Images are finally displaying!</li>
        <li>Rater and Upload have been combined</li>
        <li>Profiles cleaned up</li>
        <li>Image rating logsitics implemented</li>
        <li>Changed the layout of file displays</li>
        <li>Removed extra pages</li>
        <li>CSV file is now downloadable as a file</li>

    </ul> <br>
    <p>To-Do: </p>
    <ul>
        <li><span style='color:rgb(9, 0, 134);'>Fix subject scans display problem</span></li>
        <li><span style='color:rgb(0, 134, 22);'>Updated form layout</span></li>
        <li><span style='color:rgb(9, 0, 134);'>Update profile page to show user's ratings</span></li>
        <li><span style='color:rgb(9, 0, 134);'>Image viewer</span></li>
    </ul>
{% endblock %}