{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <style>
        .subject-list {
        font-family: sans-serif;
        border-collapse: collapse;
        font-size: 0.9em;
        font-weight: bold;
        margin: 25px 0;
        width: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        }

        .subject-list thead tr {
            background-color: #4a75d1;
            color: #ffffff;
            text-align: left

        }
        
        .subject-list td, .subject-list th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px 8px;
        }

        .subject-list tbody tr {
            border-bottom: 1px solid #dddddd;
        }
        
        .subject-list tbody tr:nth-child(even) {
        background-color: #d2dcfc;
        }

        .subject-list tbody tr:last-of-type {
            border-bottom: 2px solid #0e055f;
        }
    </style>
    <h1>Subjects</h1>
    <p><strong>IMPORTANT NOTICE: THIS PAGE IS UNDER TESTING, NOTHING HERE IS FINAL.</strong></p>
    <br>
    <p><strong>In order to see the images, please store them in the subjects subfolder.</strong></p>
    <p>Click on a subject to view their scans: </p>
    <table class="subject-list">
        <tr>
            <th>Subject</th>
            <th># Of Scans Rated</th>
        </tr>
        {% for subj in subj_list %}
            <tr>
                <td><a href="{{ url_for('subject_scans', subject=subj) }}">{{subj}}</a></td>
                {% for subject, count in total_ratings %}
                    {% if subj == subject %}<td>{{ count }}/{{ subject_files[subj] }}</td>
                    {% else %}<td>0/{{ subject_files[subj] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}