{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <style>
        .subjects {
        font-family: sans-serif;
        border-collapse: collapse;
        font-size: 0.9em;
        font-weight: bold;
        margin: 25px 0;
        width: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        }

        .subjects thead tr {
            background-color: #4a75d1;
            color: #ffffff;
            text-align: left

        }

        .subjects th {
            cursor: pointer;
        }

        .subjects td, .subjects th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px 8px;
        }

        .subjects tbody tr {
            border-bottom: 1px solid #dddddd;
        }
        
        .subjects tbody tr:nth-child(even) {
        background-color: #d2dcfc;
        }

        .subjects tbody tr:last-of-type {
            border-bottom: 2px solid #0e055f;
        }
        .ref {
            color: blue;
        }

        .rate {
            color: red;
        }
    </style>
    <h1>Subjects</h1>
    <p><strong>IMPORTANT NOTICE: THIS PAGE IS UNDER TESTING, NOTHING HERE IS FINAL.</strong></p>
    <br>
    <p><strong>In order to see the images, please store them in the subjects subfolder.</strong></p>

    <p>WIP:</p>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

    <p>Click on a subject to view their scans: </p>
    
    <table class='subjects' id='test'>
        <tr>
            <th onclick='sortTable(0)'>Subject</th>
            <th onclick='sortTable(1)'># Of Scans Rated</th>
        </tr>
        {% for subj in subj_list %}
            <tr>
                <td><a class="{{'rate' if subj in irr_subjs else 'ref'}}" href="{{ url_for('subject_scans', subject=subj) }}">{{subj}}</a></td>
                <td>
                    {% if subj in total_ratings.keys() %}{{ total_ratings[subj] }}/{{ (subject_files[subj]/2)|int }}
                    {% else %} 0/{{ (subject_files[subj]/2)|int }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <script>
        // compare function from: https://stackoverflow.com/questions/14267781/sorting-html-table-with-javascript
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

        const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
            )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

        // do the work...
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');
            Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => table.appendChild(tr) );
        })));

        // doesn't work!
        function myFunction() {
            var input, filter, table, tr, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementsByClassName("subjects");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                } 
            }
        }

    </script>
{% endblock %}