{% extends "base.html" %} 
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <style>
        /* Button used to open the contact form - fixed at the bottom of the page */
        .open-button {
        background-color: rgb(89, 103, 231);
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: dynamic;
        }

        /* The popup form - hidden by default */
        .form-popup {
        display: none;
        position: dynamic;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
        }

        /* Add styles to the form container */
        .form-container {
        max-width: 500px;
        padding: 10px;
        background-color: white;
        }

        /* Full-width input fields */
        .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        }

        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
        }

        /* Set a style for the submit/login button */
        .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
        }

        select {
        width: 100%;
        padding: 16px 20px;
        border: none;
        border-radius: 4px;
        background-color: #f1f1f1;
        }

        /* Add a red background color to the cancel button */
        .form-container .cancel {
        background-color: red;
        }

        /* Add some hover effects to buttons */
        .form-container .btn:hover, .open-button:hover {
        opacity: 1;
        }
        
        .distort_okay, .SBF_corruption, .full_brain_coverage, .CIFTI_map_typ, .dropout {
            display: none;
        }

        .scans {
            text-align: center;
            position: relative; 
            display: none;
            z-index: 0;
        }
        .scans img {
            max-width: 75%;
            height: auto;
        }
        img .text {
            position: absolute;
            color: white;
            top: 2px;
            z-index: 1;
        }
        .toggle {
            position: relative;
        }
        .next {
            position: absolute;
            background-color: #5967e7;
            color: white;
            border-radius: 50%;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            z-index: 2;
        }
        .previous {
            position: absolute;
            background-color: #dee1fa;
            color: black;
            border-radius: 50%;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            z-index: 2;
        }
        .next:hover {
            transition: 0.4s;
            background-color: #252c6d !important;
        }
        .previous:hover {
            transition: 0.4s;
            background-color: #838393 !important;

        }
    </style>
    <h1>Scan Information</h1>
    <p><strong>Subject:</strong> {{ subject }}</p>
    <p><strong>Scan:</strong> {{ scan }}</p>
    <p style="text-align:center;"><strong>Remember to make sure you're looking at the right scan before submitting your rating!</strong></p>

    <!--TESTING DYNAMIC TOGGLE FEATURE-->
    <div class="toggle">
        <input class="previous" type="button" value="<" onclick="prevScan()"/>
        <input class="next" type="button" value=">" onclick="nextScan()"/>
        {% for scan in allscans %}
            <div class="scans">
                <img src="/static/subjects/HCD_wb1.4.2.pngs/{{scan}}">
                <div class="text">{{ scan }}</div>
            </div>
        {% endfor %}
    </div>

    <p><a href="{{ url_for('scan_rater', subject=subject, filename=nxt) }}">Next image[DEMO]</a></p>
    <p><a href="{{ url_for('scan_rater', subject=subject, filename=prev) }}">Previous image[DEMO]</a></p>
    <!--{% for image in images %}
        <img src="/static/subjects/HCD_wb1.4.2.pngs/{{image}}" id="testImages">
    {% endfor %} -->
    <!-- Button trigger modal -->
    <br>
    <br>
    <button type="button" class="open-button" onclick='openForm()'>
        Rate this scan
    </button>
    <hr>
    <a href="{{ url_for('rater') }}">Rate more images</a>
  
    <!-- No longer a modal, but a buggy popup. FIX LATER -->
    <div class='form-popup' id='scan_rater'>
        <form action="/scan_rater/{{subject}}/{{filename}}" class='form-container' method='POST'>
            {{ form.hidden_tag() }}
            {{ form.rating.label }}
            {{ form.rating(onclick='checkOption()') }}
            {{ form.distort_okay.label(class="distort_okay") }}
            {{ form.distort_okay(class="distort_okay") }}
            {{ form.SBF_corruption.label(class="SBF_corruption") }}
            {{ form.SBF_corruption(class="SBF_corruption") }}
            {{ form.full_brain_coverage.label(class="full_brain_coverage") }}
            {{ form.full_brain_coverage(class="full_brain_coverage") }}
            {{ form.CIFTI_map_typ.label(class="CIFTI_map_typ") }}
            {{ form.CIFTI_map_typ(class="CIFTI_map_typ") }}
            {{ form.dropout.label(class="dropout") }}
            {{ form.dropout(class="dropout") }}
            {{ form.notes.label }} <br>
            {{ form.notes() }} <br>
            {{ form.submit() }}
            <button type='button' class='btn cancel' click()='closeForm()'>Close</button>
        </form>
    </div>
    
<!-- Using basic js to dynamically change form. Switch to jQuery for a more succint code-->  
    <script>
        /// TESTING TOGGLE FEATURE
        const scans = document.querySelectorAll(".scans")
        const nxt = document.querySelector(".next")
        const prv = document.querySelector(".previous")

        /// SHOW SCENE1 AND SCENE2 OF SCANTYPE (test)
        let scene1 = {{ curr }};
        let scene2 = scene1 + 1;

        scans[scene1].style.display = 'inline-block';
        scans[scene2].style.display = 'inline-block';

        /// Event listeners
        prv.addEventListener("click", prevScan());
        nxt.addEventListener("click", nextScan());

        // Function to hide other scans currently not in view
        function hideScans() {
            scans[scene1].style.display = 'inline-block';
            scans[scene2].style.display = 'inline-block';
            for (let i = 0; i < scans.length; i++) {
                if (!(i == scene1 || i == scene2)) {
                    scans[i].style.display = 'none';
                }
            }
        }

        // Show previous scan if button clicked

        function prevScan() {
            scene1-=2;
            scene2-=2;
            if (scene1 >= 0 && scene1 < scans.length) {
                hideScans();
            } else if (scene1 < 0) {
                // we're negative!
                scene1 = scans.length - 2;
                scene2 = scans.length - 1;
            } else {
                // bug catching
                scene1 = 0;
                scene2 = 1;
            }
        }

        // Show next scan if button clicked
        function nextScan() {
            scene1+=2;
            scene2+=2;
            if (scene1 >= 0 && scene1 < scans.length) {
                hideScans();
            } else if (scene1 == scans.length) {
                scene1 = 0;
                scene2 = 1;
                hideScans();
            } else {
                scene1 = scans.length - 2;
                scene2 = scans.length - 1;
                hideScans();
            }

        }


        /// for opening and closing the form (testing)
        function openForm() {
            document.getElementById('scan_rater').style.display = 'block';
        }

        function closeForm() {
            document.getElementById('scan_rater').style.display = 'none';
        }


        /// handy dandy check for rating click
        function checkOption() {
            // I'm going to cheat a little here and just display the options by ID
            // I got this by doing inspect element in the browser, and found that
            // radiofield ids generally go by form_class-form_value.
            // for a general approach, try the for loop I commented out below, but modify to search
            // for the clicked radio button and then select the value...
            if (document.getElementById('rating-1').checked == true) {
                for(var i=0; i < document.getElementsByName('rating').length; i++) {
                    /// NodeList returned by document call below, so for loop required
                    document.getElementsByClassName('distort_okay')[i].style.display = 'block';
                    document.getElementsByClassName('SBF_corruption')[i].style.display = 'block';
                    document.getElementsByClassName('full_brain_coverage')[i].style.display = 'block';
                    document.getElementsByClassName('CIFTI_map_typ')[i].style.display = 'block';
                    document.getElementsByClassName('dropout')[i].style.display = 'block';

                }
                /// Make selections required
                document.getElementsByClassName('distort_okay')[1].required = true;
                document.getElementsByClassName('SBF_corruption')[1].required = true;
                document.getElementsByClassName('full_brain_coverage')[1].required = true;
                document.getElementsByClassName('CIFTI_map_typ')[1].required = true;
                document.getElementsByClassName('dropout')[1].required = true;
            } else {
                /// Hide selections and remove required attribute
                for(var i=0; i < document.getElementsByName('rating').length; i++) { 
                    document.getElementsByClassName('distort_okay')[i].style.display = 'none';
                    document.getElementsByClassName('SBF_corruption')[i].style.display = 'none';
                    document.getElementsByClassName('full_brain_coverage')[i].style.display = 'none';
                    document.getElementsByClassName('CIFTI_map_typ')[i].style.display = 'none';
                    document.getElementsByClassName('dropout')[i].style.display = 'none';

                    document.getElementsByClassName('distort_okay')[1].required = false;
                    document.getElementsByClassName('SBF_corruption')[1].required = false;
                    document.getElementsByClassName('full_brain_coverage')[1].required = false;
                    document.getElementsByClassName('CIFTI_map_typ')[1].required = false;
                    document.getElementsByClassName('dropout')[1].required = false;

                }
            }
        }


        /// dynamic handling of options (querySelectorAll more conventional than getElementsByName)
        const user_ratings = document.getElementsByName('rating'); 

        /// check for clicks
        user_rating.forEach(radio => {
            radio.addEventListener('click', checkOption);
        });

        /// buggy code block. can utilize this if you have a radiofield with more options and need it to be dynamic
        /*
        for(var i = 0; i < user_rating.length; i++) {
            user_rating[i].onclick = function() {
                var rating = this.value;
                if (user_rating == 1) {
                document.getElementsByClassName('distort_okay').style.display = 'block';
                document.getElementsByClassName('SBF_curruption').style.display = 'block';
                document.getElementsByClassName('full_brain_coverage').style.display = 'block';
                document.getElementsByClassName('CIFTI_map_typ').style.display = 'block';
                document.getElementsByClassName('dropout').style.display = 'block';
                } else {
                    document.getElementsByClassName('distort_okay').style.display = 'none';
                    document.getElementsByClassName('SBF_curruption').style.display = 'none';
                    document.getElementsByClassName('full_brain_coverage').style.display = 'none';
                    document.getElementsByClassName('CIFTI_map_typ').style.display = 'none';
                    document.getElementsByClassName('dropout').style.display = 'none';
                }
            }
        }  
        */


    </script>
    <hr>
    <p> The following users rated this image: </p>
    {% for rating in image_ratings %}
        {% if current_user.username == rating.scan_rater.username %}
            {% include '_ratings.html' %}
        {% else %}
            <p>{{ rating.scan_rater.username }} has rated this image.</p>
        {% endif %}
    {% endfor %}
{% endblock %}   