{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }
        
        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }
        
        tr:nth-child(even) {
        background-color: #dddddd;
        }
    </style>
    <h1>Images</h1>
    <p><strong>IMPORTANT NOTICE: THIS PAGE IS UNDER TESTING, NOTHING HERE IS FINAL.</strong></p>
    <br>
    <p><strong>In order to see the images, please store them in the uploads subfolder.</strong></p>
    <p>Rate the following images below: </p>
    {% for file in files %}
        <a href="{{ url_for('upload', filename=file) }}">{{file}}</a><br>
    {% endfor %}
    <p>Test:</p>
    <table>
        <tr>
            <th>Image Name</th>
            <th>Ratings</th>
        </tr>
        {% for file in files %}
            <tr>
                <td><a href="{{ url_for('upload', filename=file) }}">{{file}}</a></td>
                {% for img_name, count in ratings %}
                    {% if img_name == file %}<td>{{ count }} </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}