{% extends "base.html" %} 
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %} 
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        /* The popup form - hidden by default */
        .table-popup {
        display: none;
        position: dynamic;
        }
    </style>
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>Hello, {{ user.username }}!</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>{{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}
                <p>
                    <a href="{{ url_for('edit_profile') }}">Edit profile</a>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    {% if current_user.username == 'admin' %}
    <hr>
    <div class='row'>
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    {% endif %}
    <div>
        <b>Ratings statistics: </b>
        {% if current_user.username in user_ratings.keys() %}
        <p>You have rated {{ user_ratings[current_user.username] }} images</p>
        {% else %}
        <p>You haven't rated any images yet! <a href="{{ url_for('rater') }}">Go rate some now!</a></p>
        {% endif %}
        <button onclick='ShowTable()'>Click to view ratings?</button>
        <div class='table-popup' id='summary'>
            <table>
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Scan</th>
                        <th>Your Rating</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rating in ratings_summary %}
                        <tr>
                            {% if rating.scan_rater.username == current_user.username %}
                                <td>{{ rating.subj_name }}</td>
                                <td><a href="{{ url_for('scan_rater', subject=rating.subj_name, filename=rating.scan_type) }}">{{ rating.scan_type }}</a></td>
                                <td>{{ rating.rating }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p>Click the links to see a more detailed report.</p>
            <br>
            <button onclick='HideTable()'>Hide summary</button>
        </div>
    </div>
    <hr>

    <script>
        /// for opening and closing the form (testing)
        function ShowTable() {
            document.getElementById('summary').style.display = 'block';
        }
        function HideTable() {
            document.getElementById('summary').style.display = 'none';
        }
    </script>

    {% for announcement in announcements %}
        {{ announcement.broadcast }} <br>
    {% endfor %} <br>
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
{% endblock %}